.board { 
    border:1px solid gray; 
    display:flex; 
    flex-wrap:wrap; 
    height:496px; 
    width:580px; 
    background:blue;
    align-content: center; 
} 
.board div { 
    height:40px; 
    width:40px; 
    margin:3px;
    border-radius:20px 
}

.player1 {
    background-color: red;
}

.player2 {
    background-color: yellow;
}
