<div class="container">
    <div class="currentPlayer">
    <span class="player">{{currentPlayerName}}'s turn</span>

    <div class="base-board align-items-center">
        <div class="board">
            <table>
                <tr>
                    <td (click)="onColumnClick(0)">{{boardService.MainBoard[0][5]}}</td>
                    <td (click)="onColumnClick(1)">{{boardService.MainBoard[1][5]}}</td>
                    <td (click)="onColumnClick(2)">{{boardService.MainBoard[2][5]}}</td>
                    <td (click)="onColumnClick(3)">{{boardService.MainBoard[3][5]}}</td>
                    <td (click)="onColumnClick(4)">{{boardService.MainBoard[4][5]}}</td>
                    <td (click)="onColumnClick(5)">{{boardService.MainBoard[5][5]}}</td>
                    <td (click)="onColumnClick(6)">{{boardService.MainBoard[6][5]}}</td>
                </tr>
                <tr>
                    <td (click)="onColumnClick(0)">{{boardService.MainBoard[0][4]}}</td>
                    <td (click)="onColumnClick(1)">{{boardService.MainBoard[1][4]}}</td>
                    <td (click)="onColumnClick(2)">{{boardService.MainBoard[2][4]}}</td>
                    <td (click)="onColumnClick(3)">{{boardService.MainBoard[3][4]}}</td>
                    <td (click)="onColumnClick(4)">{{boardService.MainBoard[4][4]}}</td>
                    <td (click)="onColumnClick(5)">{{boardService.MainBoard[5][4]}}</td>
                    <td (click)="onColumnClick(6)">{{boardService.MainBoard[6][4]}}</td>
                </tr>
                <tr>
                    <td (click)="onColumnClick(0)">{{boardService.MainBoard[0][3]}}</td>
                    <td (click)="onColumnClick(1)">{{boardService.MainBoard[1][3]}}</td>
                    <td (click)="onColumnClick(2)">{{boardService.MainBoard[2][3]}}</td>
                    <td (click)="onColumnClick(3)">{{boardService.MainBoard[3][3]}}</td>
                    <td (click)="onColumnClick(4)">{{boardService.MainBoard[4][3]}}</td>
                    <td (click)="onColumnClick(5)">{{boardService.MainBoard[5][3]}}</td>
                    <td (click)="onColumnClick(6)">{{boardService.MainBoard[6][3]}}</td>
                </tr>
                <tr>
                    <td (click)="onColumnClick(0)">{{boardService.MainBoard[0][2]}}</td>
                    <td (click)="onColumnClick(1)">{{boardService.MainBoard[1][2]}}</td>
                    <td (click)="onColumnClick(2)">{{boardService.MainBoard[2][2]}}</td>
                    <td (click)="onColumnClick(3)">{{boardService.MainBoard[3][2]}}</td>
                    <td (click)="onColumnClick(4)">{{boardService.MainBoard[4][2]}}</td>
                    <td (click)="onColumnClick(5)">{{boardService.MainBoard[5][2]}}</td>
                    <td (click)="onColumnClick(6)">{{boardService.MainBoard[6][2]}}</td>
                </tr>
                <tr>
                    <td (click)="onColumnClick(0)">{{boardService.MainBoard[0][1]}}</td>
                    <td (click)="onColumnClick(1)">{{boardService.MainBoard[1][1]}}</td>
                    <td (click)="onColumnClick(2)">{{boardService.MainBoard[2][1]}}</td>
                    <td (click)="onColumnClick(3)">{{boardService.MainBoard[3][1]}}</td>
                    <td (click)="onColumnClick(4)">{{boardService.MainBoard[4][1]}}</td>
                    <td (click)="onColumnClick(5)">{{boardService.MainBoard[5][1]}}</td>
                    <td (click)="onColumnClick(6)">{{boardService.MainBoard[6][1]}}</td>
                </tr>
                <tr>
                    <td (click)="onColumnClick(0)">{{boardService.MainBoard[0][0]}}</td>
                    <td (click)="onColumnClick(1)">{{boardService.MainBoard[1][0]}}</td>
                    <td (click)="onColumnClick(2)">{{boardService.MainBoard[2][0]}}</td>
                    <td (click)="onColumnClick(3)">{{boardService.MainBoard[3][0]}}</td>
                    <td (click)="onColumnClick(4)">{{boardService.MainBoard[4][0]}}</td>
                    <td (click)="onColumnClick(5)">{{boardService.MainBoard[5][0]}}</td>
                    <td (click)="onColumnClick(6)">{{boardService.MainBoard[6][0]}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div *ngIf="win" class="reset" style="align-content: flex-end;">
        <button class="playAgain" (click)="resetGame()">Play again</button>
        <div> {{currentPlayerName}} wins!</div>
    </div>
</div>